.ps {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c {
  color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    color: black;
  }
}

#logo {
  width: 50px;
  height: 30px;
}

.navbar {
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  position: fixed;
  width: 100%;
  z-index: 999999 !important;
}
.navbar nav img {
  width: 30px;
  height: 30px;
}
@media (max-width: 992px) {
  .navbar nav {
    background-color: white;
    color: black;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.l {
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 3px 0px 0px 3px;
  height: 37px;
  width: 36px;
  background-color: #e9ecef;
}

.register input, .login input {
  height: 41px;
  width: 279px;
}

.but {
  border: 3px solid rgb(81, 78, 241);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  width: 200px;
}
.but:hover {
  background-color: rgb(81, 78, 241);
  color: white;
}

.lcr, .rcr {
  position: absolute;
  font-size: x-large;
  top: -13px;
  right: -8px;
  cursor: pointer;
}
.lcr:hover, .rcr:hover {
  color: red;
}

.register, .login {
  -webkit-animation: fadein 1s linear;
          animation: fadein 1s linear;
  z-index: 99999999999999 !important;
}

.register .rd {
  height: 20px;
  width: 20px;
}

.pv {
  display: block;
  color: grey;
  font-style: italic;
  font-size: x-small;
}

.pe {
  color: red;
  font-style: italic;
  font-size: x-small;
}

.register {
  width: 400px;
  padding: 0px 30px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.register input, .login input {
  height: 41px;
  width: 279px;
}

.but {
  border: 3px solid rgb(81, 78, 241);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  width: 200px;
}
.but:hover {
  background-color: rgb(81, 78, 241);
  color: white;
}

.lcr, .rcr {
  position: absolute;
  font-size: x-large;
  top: -13px;
  right: -8px;
  cursor: pointer;
}
.lcr:hover, .rcr:hover {
  color: red;
}

.register, .login {
  -webkit-animation: fadein 1s linear;
          animation: fadein 1s linear;
  z-index: 99999999999999 !important;
}