@import 'var';
@import 'mixin';

.ps {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.firstview {
    color: white;
    background: url('../Images/home1.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    height: 85vh;
    .view-text {
        @include res(576px) {
            left: 10px;
            top: 150px;
            text-align: left;
            width: 250px;
        }
        top: 185px;
        left: 100px;
        line-height: 35px;
        text-align: center;

        span {
            color: $t;
        }

        button {
            background-color: $t;
        }
        
        .fc{
            animation: fadein 2s linear;
        }
      
    }
}
.icons {
    @include res(576px) {
        padding-top: 20px;
    }
}


.icons img {
    width: 50px;
    height: 50px;
}

.category {


    .cat {
        


        .catb {
            width: 255px;
            height: 300px;

            // border:1px solid black;
            &:hover .catb-inner {
                transform: rotateY(180deg);
            }

            .catb-inner {
                width: 100%;
                height: 100%;
                position: relative;
                transition: 1s;
                transform-style: preserve-3d;

                .catb-front {
                    position: absolute;
                    background-size:cover !important;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;

                    h1 {
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .catb-back {
                    transform: rotateY(180deg);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-size: cover !important;
                    // background-color: black;
                    backface-visibility: hidden;

                    .back-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        color: white;
                    }
                }
                .catf-1 {
                  
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-1.jpg');
                }

                .catb-1 {
              
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-1.jpg');
                }

                .catf-2 {
                   
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-2.jpg');
                }

                .catb-2 {
               
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-2.jpg');
                }
                .catf-3{
        
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-3.jpg');
                }

                .catb-3{
                    
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-3.jpg');
                }
                .catf-4{
        
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-4.jpg');
                }

                .catb-4{
                    
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-4.jpg');
                }
                .catf-5{
        
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-5.jpg');
                }

                .catb-5{
                    
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-5.jpg');
                }
                .catf-6{
        
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-6.jpg');
                }

                .catb-6{
                    
                    background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url('../Images/cat-6.jpg');
                }
            }
        }
    }
  
}

    .container{
        @include res(992px){
            
               max-width:100%;
              }
        }


@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}

 .register input,.login input {
    height: 41px;
    width: 279px;
}
.but{
    border: 3px solid $t;
    transition: 0.9s;
    width: 200px;
    background-color:$t;
    text-decoration: none;
    &:hover {
        background-color:$t;
        color: white;
    }

}



