@import 'var';
@import 'mixin';

.ps {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.firstview {
    color: white;
    background: url('../Images/home1.jpg');
    background-size: cover;
    background-position: center;
    height:85vh;
    transition: background-image 1s ease-in-out;
    .view-text {
        @include res(576px) {
            left: 10px;
            top: 150px;
            text-align: left;
            width: 250px;
        }
        top: 185px;
        left: 100px;
        line-height: 35px;
        text-align: center;

        span {
            color: $t;
        }

        button {
            background-color: $t;
        }
        
        .fc{
            animation: fadein 2s linear;
        }
      
    }
}
.icons {
    @include res(576px) {
        padding-top: 20px;
    }
}


