.ps {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.firstview-about {
  color: white;
  background: url("../Images/home2.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
}