@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Montserrat:wght@400;500;700&display=swap");
.t1 {
  display: block;
}

.t2 {
  display: none;
}

.t3 {
  display: none;
}

ul {
  list-style: none;
}

.headf {
  height: 20vh;
  background-image: url("../home2.jpg");
}

.head {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 25, 155, 0.856)), to(rgba(25, 19, 112, 0.781))), url("Images/student-friends-studying-together-UNCHR5E.jpg");
  background: linear-gradient(rgba(2, 25, 155, 0.856), rgba(25, 19, 112, 0.781)), url("Images/student-friends-studying-together-UNCHR5E.jpg");
  height: 300px;
  background-size: cover;
}

.head-left {
  color: white;
  letter-spacing: normal;
}
.head-left h2 {
  font-weight: 700;
  font-size: 36px;
}
.head-left p {
  font-weight: 300;
  font-size: 16px;
}

.box {
  background-color: white;
  padding: 15px;
  height: 150px;
  top: 80%;
  left: 13%;
  width: 1000px;
}
.box .imgc {
  text-align: center;
}
.box img {
  width: 70px;
  height: 66px;
}
.box h5 {
  font-size: 16px;
  font-weight: 700;
}
.box p {
  font-size: 13px;
}

.pv {
  display: block;
  color: grey;
  font-style: italic;
  font-size: x-small;
}

.pe {
  color: red;
  font-style: italic;
  font-size: x-small;
}

.h {
  height: 400px;
}

.he {
  height: 175px;
}

.b {
  height: 250px;
  overflow-y: hidden;
}

.sb {
  height: 150px;
  overflow-y: hidden;
}

.card:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: rgb(75, 95, 208);
}
.card:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25%;
  background-color: black;
  width: 3px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.card:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  background-color: black;
  height: 3px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.card:hover::after {
  width: 100%;
}
.card:hover::before {
  height: 100%;
}
.card-head {
  position: relative;
  padding-left: 3px;
}
.card:hover .pre {
  opacity: 1;
}
.card .price {
  position: absolute;
  bottom: -28px;
  right: 0px;
  height: 70px;
  width: 74px;
  padding-top: 20px;
}
.card .cate {
  position: absolute;
  top: 0px;
  left: 3px;
}
.card .catr {
  position: relative;
  background-color: rgb(203, 225, 239);
  width: 50px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}
.card .catr .pr {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  color: black;
}
.card:hover .catr {
  background-color: rgb(120, 199, 247);
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 100px;
}
.card .pre {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  transition: 1s;
}

.main {
  margin-top: 120px;
}
.main .main-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .main-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  margin-top: 200px;
}
.footer .footer-back {
  background-color: black;
  height: 200px;
}

.top {
  height: 350px;
  position: relative;
}

.search-filter {
  margin-bottom: 1rem;
}

.search-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin-top: 25px;
}

.location-search {
  /* background-color: #fff; */
  padding: 0.8rem 1.25rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.325);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.magnify {
  position: absolute;
  top: 17px;
  left: 10px;
}

#location {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0 3px 12px -9px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 12px -9px rgba(0, 0, 0, 0.4);
  border: solid 1px #909090;
  background-color: #fff;
  padding: 10px 35px;
  border-radius: 10px;
  font-size: 14px;
}

.price-search {
  border: 1px solid rgba(0, 0, 0, 0.325);
  padding: 0.2rem 1.25rem 1rem;
  margin-bottom: 20px;
}

.price-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.price-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.price-field span {
  margin-bottom: 10px;
}

.price-field input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #909090;
  color: #000;
  font-size: 14px;
}

.separator {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #545454;
}

.category-type {
  border: 1px solid rgba(0, 0, 0, 0.325);
  padding: 0.2rem 1.25rem 1rem;
  margin-bottom: 20px;
}

.category-options b {
  display: block;
  margin-bottom: 0.7rem;
  margin-top: 0.56rem;
}

.left {
  color: #000;
  height: 10px;
}

.right {
  height: 10px;
  color: #000;
}