.ps {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.firstview {
  color: white;
  background: url("../Images/home1.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  height: 85vh;
}
.firstview .view-text {
  top: 185px;
  left: 100px;
  line-height: 35px;
  text-align: center;
}
@media (max-width: 576px) {
  .firstview .view-text {
    left: 10px;
    top: 150px;
    text-align: left;
    width: 250px;
  }
}
.firstview .view-text span {
  color: rgb(81, 78, 241);
}
.firstview .view-text button {
  background-color: rgb(81, 78, 241);
}
.firstview .view-text .fc {
  -webkit-animation: fadein 2s linear;
          animation: fadein 2s linear;
}

@media (max-width: 576px) {
  .icons {
    padding-top: 20px;
  }
}

.icons img {
  width: 50px;
  height: 50px;
}

.category .cat .catb {
  width: 255px;
  height: 300px;
}
.category .cat .catb:hover .catb-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.category .cat .catb .catb-inner {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.category .cat .catb .catb-inner .catb-front {
  position: absolute;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.category .cat .catb .catb-inner .catb-front h1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.category .cat .catb .catb-inner .catb-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.category .cat .catb .catb-inner .catb-back .back-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.category .cat .catb .catb-inner .catf-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-1.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-1.jpg");
}
.category .cat .catb .catb-inner .catb-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-1.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-1.jpg");
}
.category .cat .catb .catb-inner .catf-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-2.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-2.jpg");
}
.category .cat .catb .catb-inner .catb-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-2.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-2.jpg");
}
.category .cat .catb .catb-inner .catf-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-3.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-3.jpg");
}
.category .cat .catb .catb-inner .catb-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-3.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-3.jpg");
}
.category .cat .catb .catb-inner .catf-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-4.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-4.jpg");
}
.category .cat .catb .catb-inner .catb-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-4.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-4.jpg");
}
.category .cat .catb .catb-inner .catf-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-5.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-5.jpg");
}
.category .cat .catb .catb-inner .catb-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-5.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-5.jpg");
}
.category .cat .catb .catb-inner .catf-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-6.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-6.jpg");
}
.category .cat .catb .catb-inner .catb-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 15, 27, 0.397)), to(rgba(3, 43, 78, 0.404))), url("../Images/cat-6.jpg");
  background: linear-gradient(rgba(1, 15, 27, 0.397), rgba(3, 43, 78, 0.404)), url("../Images/cat-6.jpg");
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.register input, .login input {
  height: 41px;
  width: 279px;
}

.but {
  border: 3px solid rgb(81, 78, 241);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  width: 200px;
  background-color: rgb(81, 78, 241);
  text-decoration: none;
}
.but:hover {
  background-color: rgb(81, 78, 241);
  color: white;
}